<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Worker Chart Table</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">
  <h1>Worker Chart Table</h1><br>
  <a th:href="@{/workerlist}" class="btn btn-primary btn-sm mb-3" >WEEKLY SHIFT LIST</a>
  <table style="width:80%" border="1"
         class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
    </tr>
    </thead>
    <thead><tr><td colspan="2">SHIFT : MORNING</td></tr></thead>
    <tbody th:each="worker:${allWorkerList}">
    <tr th:if="${worker.shift_type == '8-4'}">
      <td th:text="${worker.name}"></td>
      <td th:text="${worker.lastname}"></td>
    </tr>
    </tbody>
    <thead><tr><td colspan="2">SHIFT : EVENING</td></tr></thead>
    <tbody th:each="worker:${allWorkerList}">
    <tr th:if="${worker.shift_type == '4-12'}">
      <td th:text="${worker.name}"></td>
      <td th:text="${worker.lastname}"></td>
    </tr>
    </tbody>
    <thead><tr><td colspan="2">SHIFT : NIGHT</td></tr></thead>
    <tbody th:each="worker:${allWorkerList}">
    <tr th:if="${worker.shift_type == '12-8'}">
      <td th:text="${worker.name}"></td>
      <td th:text="${worker.lastname}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>